include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/ecospheres *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/ecospheres/migration *.ini *.py *.mako
