{%    set value =data[field.field_name] %}
{%- if value -%}

{%- set label_show=none -%}
{%- set uri_label=none -%}
        {%- for item in value %}


            {%- if item.get("uri",None) -%}
                {%- set vocabularies= h.get_vocabulairies_for_given_repeating_subfields(field,"uri") -%}
                {%- set uri=item.get("uri",None) -%}
                
                {%- set res=h.get_vocab_label_by_uri_from_list_of_vocabularies(vocabularies,uri) -%}
                {%- if res==uri -%}
                <a href="{{ res }}">{{ res }}</a>
                {%- else -%}
                    res
                {%- endif -%}               
            {%- endif -%}


            {%- if item.get("type",None) -%}
                {%- set vocabularies= h.get_vocabulairies_for_given_repeating_subfields(field,"uri") -%}
                {%- set uri=item.get("uri",None) -%}
                
                {%- set res=h.get_vocab_label_by_uri_from_list_of_vocabularies(vocabularies,uri) -%}
                {%- if res==uri -%}
                <a href="{{ res }}">{{ res }}</a>
                {%- else -%}
                    res
                {%- endif -%}       
            
            {%- endif -%}
            
        
        {%- endfor -%}

{%- endif -%}