{%   set value =data[field.field_name] %}
{%- for item in value %}
    {%- if item.get("uri",None) -%}
    {%- set vocabularies= h.get_vocabulairies_for_given_repeating_subfields(field,"uri") -%}
    {%- set uri=item.get("uri",None) -%}

        {%- set res=h.get_vocab_label_by_uri_from_list_of_vocabularies(vocabularies,uri) -%}
        {%- if res==uri -%}
        <a href="{{ res }}">{{ res }}</a>
        {%- else -%}
            res
        {%- endif -%}  
                        

        {%- endif -%}


    {%- if item.get("in_scheme",None) -%}
            {%- set vocabularies= h.get_vocabulairies_for_given_repeating_subfields(field,"in_scheme") -%}
            {%- set in_scheme=item.get("in_scheme",None) -%}

                {%- set res=h.get_vocab_label_by_uri_from_list_of_vocabularies(vocabularies,in_scheme) -%}
                {%- if res==in_scheme -%}
                <a href="{{ res }}">{{ res }}</a>
                {%- else -%}
                    res
                {%- endif -%}  
                                

    {%- endif -%}

    {%- endfor -%}